.login-container-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.login-form-admin {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-form h2{
    margin-bottom:0.2 rem;
}
.logn-form p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #666;
}